<div class="container">
  <% @events.each_with_index do |event, index| %>
    <div class="mb-5">
      <%= render 'events/info', event: event, index: index, final: @events.last == event %>
      <% @group.invitations.where(event: event).each do |invitation| %>
        <div class="row justify-content-center align-items-center">
          <%= render 'invitations/invitation', invitation: invitation, solo: @group.people.length == 1 %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
