<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(<%= image_path 'smiths/chairs.jpg' %>);">
  <div class="container">
    <h1>Join Us in St. Louis</h1>
    <h3 class='mt-4'>Doug + Hyelim</h3>
    <h4 class='mt-2'>Sep 20th, 2025</h4>
  </div>
</div>
