<div class="container text-center mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-msm-6 col-md-3">
      <%= render "uploads/form", upload: @upload, btn_style: 'upload-photos text-nowrap cursor-pointer' %>
    </div>
  </div>
</div>
