<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'smiths/courtyard.jpg' %>);">
  <div class="container">
    <h1><%= t('join_us_korea') %></h1>
  </div>
</div>
<div class="container">
</div>
