<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <h4 class='text-uppercase'>How should I RSVP?</h4>
      <blockquote>We will handle all RSVPs through our website. Simply just <%= link_to 'search for your name', rsvp_path, class: 'text-decoration-none' %>. I (Doug) built it so if you have any issues, please direct to <%= link_to 'him', 'mailto:douglasmberkley@gmail.com', target: '_blank', class: 'text-decoration-none' %>.</blockquote>
      <h4 class='text-uppercase'>Will the ceremony be indoors or outdoors?</h4>
      <blockquote>The ceremony will be help outdoors in the courtyard of a restaurant. If the unfortunate occurance of poor weather, the venue will prepare umbrellas etc.</blockquote>
      <h4 class='text-uppercase'>What should I wear?</h4>
      <blockquote>Cocktail attired is requested. Try to look smart but don't need to overdue it.</blockquote>
      <h4 class='text-uppercase'>Will there be food?</h4>
      <blockquote>The restaurant will be serving a semi-course lunch after the ceremony. There will be salad, pasta and steak with some other sides. Kids meals are available.</blockquote>
      <h4 class='text-uppercase'>When should I arrive to the ceremony?</h4>
      <blockquote>Please arrive to <%= link_to 'Smith Hanok', 'https://maps.app.goo.gl/yFnrm3RL1yXVav7y8', target: '_blank', class: 'text-decoration-none' %> before 11:30am.</blockquote>
      <h4 class='text-uppercase'>Is there a reception?</h4>
      <blockquote>The ceremony will end after the meal. However after an afternoon break, we'll be organizing a private party in Itaewon.</blockquote>
      <h4 class='text-uppercase'>Are there any other events?</h4>
      <blockquote>We are planning a baseball game and picnic the Thursday before the wedding. The rehearsal dinner the night before, will be family only. We'll try to organize some other small events in the week leading up to the wedding. You can see the <%= link_to 'schedule here', schedule_path, class: 'text-decoration-none' %></blockquote>
      <h4 class='text-uppercase'>Are kids welcome?</h4>
      <blockquote>We'd love to welcome everyone but unfortunately the venue is quite small. Only people that have an invite can fit inside.</blockquote>
      <h4 class='text-uppercase'>Who is in the wedding?</h4>
      <blockquote>We didn't ask anyone to be in the wedding party to keep the ceremony simple.</blockquote>
      <h4 class='text-uppercase'>What is Seoul weather like in July?</h4>
      <blockquote>Hot. Around 28-30°C / 80-86°F. But who knows these days?</blockquote>
    </div>
  </div>
</div>
