<div class="container py-6 text-center">
  <h3 class='fw-bold'>You are Invited</h3>
  <p>Smith Hanok @ 11am</p>
  <span><%= link_to 'RSVP', '#', class: 'btn btn-outline-primary mt-3 fs-4'  %></span>
</div>
