.upload-photos {
  border: 1px solid $light-gray;
  padding: 16px 24px;
  font-weight: 500;
  background: $primary;
  color: $light-gray;
  border-radius: 2px;
}

.cursor-pointer {
  cursor: pointer;
}
