.image-grid {
  display: grid;
  gap: 10px;
  height: 500px;
  grid-template-areas:
    "main main item1 item2"
    "main main item3 item4";
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image-grid-mobile {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
}

.image-grid-item {
  overflow: hidden;
  border-radius: 8px;
}

.image-grid-mobile-item {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main {
  grid-area: main;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .image-grid {
    display: none;
  }
  .image-grid-mobile {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .image-grid {
    display: none;
  }
  .image-grid-mobile {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .image-grid {
    display: grid;
  }
  .image-grid-mobile {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .image-grid {
    display: grid;
  }
  .image-grid-mobile {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .image-grid {
    display: grid;
  }
  .image-grid-mobile {
    display: none;
  }
}
